<!-- プロジェクト設定のタブ表示 -->
<%
  destination = @project.msteams_destination || MsteamsDestination.new
  test_url = url_for(controller: :msteams_destination, action: :test, project_id: @project.id)

  mention_id_fields = CustomField.where(type: :UserCustomField, field_format: :string)
  user_mentioned_fields = CustomField.where(type: :UserCustomField, field_format: :bool)
%>

<%= form_tag({controller: :msteams_destination, action: :update, project_id: @project.id},
             id: 'msteams_destination',
             method: 'PUT') do %>

<div class="box tabular settings">
  <p>
    <label><%= l(:label_msteams_destination) %>:</label>
    <input name="msteams_destination" type="url" style="width: 100%" value="<%= destination.url %>" />
  </p>
  <p>
    <label><%= l(:label_msteams_format) %>:</label>
    <%= select_tag('msteams_format',
                   options_for_select(["AdaptiveCard", "MessageCard"], destination.format),
                   include_blank: true) %>
  </p>
  <p>
    <label><%= l(:label_msteams_skip_ssl_verify) %>:</label>
    <%= check_box_tag('msteams_skip_ssl_verify',
                      true,
                      destination.skip_ssl_verify) %>
  </p>
  <p>
    <label><%= l(:label_msteams_mention_id_field) %>:</label>
    <%= select_tag('msteams_mention_id_field_id',
                   options_for_select(mention_id_fields.map{ |f| [f.name, f.id] }, destination.mention_id_field_id),
                   include_blank: true) %>
  </p>
  <p>
    <%= l(:hint_msteams_mention_id_field) %>
  </p>
  <p>
    <label><%= l(:label_msteams_user_mentioned_field) %>:</label>
    <%= select_tag('msteams_user_mentioned_field_id',
                   options_for_select(user_mentioned_fields.map{ |f| [f.name, f.id] }, destination.user_mentioned_field_id),
                   include_blank: true) %>
  </p>
  <p>
    <%= l(:hint_msteams_user_mentioned_field) %>
  </p>
</div>

<div style="float:right">
  <a rel="nofollow" data-method="post" href="<%= test_url %>">
    <%= l(:submit_msteams_send_test_notification) %>
  </a>
</div>

<p>
  <%= submit_tag l(:button_save) %>
</p>

<% end %>
